<template>
  <v-sheet
    id="scrolling-techniques-4"
    class="overflow-y-auto"
    max-height="this.$vuetify.breakpoint.heigth-55px"
  >
    <div :style="'background: '+divBackground+'; padding: 3px;'">
      {{divText}}
      <p>
        <slot></slot>
      </p>
    </div>
  </v-sheet>
</template>

<script>
export default {
  props: ["divText", "divBackground"],
  data() {
    return {};
  }
};
</script>

<style>
</style>