<template>
  <div dark class="all pa-0 pt-0 knf_list">
    <v-hover class="buttonKnf">
      <template v-slot="{ hover }">
        <div id="app">
          <v-app id="inspire">
            <v-row align="top">
              <v-col class="center" cols="12" sm="8">
                <v-btn class="ma-2" color="primary" height="40" width="150">
                  <v-icon left>mdi-star</v-icon>Конференции
                </v-btn>
                <v-btn class="ma-2" outlined color="primary" height="40" width="150">
                  <v-icon color="primary" left>mdi-comment-text</v-icon>
                  <a href="https://tehnokom.su/im/">Месаджило</a>
                </v-btn>
              </v-col>
            </v-row>
          </v-app>
        </div>
      </template>
    </v-hover>
  </div>
</template>

<style scoped>
a {
  text-decoration: none;
}

.all {
  /* position: relative; */
}

.buttonKnf {
  /* position: relative;
  left: 51px; */
  /* margin-top: -1%; */
  /* margin-bottom: 12%; */
}
</style>